<div class="container">
  <div class="row">
    <div class="col">
      Column
    </div>
    <div class="col">
      <h2>投稿フォーム</h2>
      <%= form_with model: @article do |f| %>
      <div class="form-group">
        <label for="book_title">Title</label><br>
        <%= f.text_field :title ,class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="book_opinion">Content</label><br>
        <%= f.text_area :content ,class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "Create Book" ,class: "btn btn-success" %>
      </div>
    <% end %>
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>